/* Styles of Ardzon interface */

/* Dialog window */
#ardzon_modal_win {
	position: absolute;
	border: 1px solid #CCCCCC;
	width: 400px;
	padding: 10px 20px 25px 20px;
	background-color: #FFFFFF;
	box-shadow: 0 0 10px #DDDDDD;
}
#ardzon_modal_win * {
	font-size: 14px;
	font-family: sans-serif;
	color: #000000;
}
#ardzon_modal_win .close_window {
	text-align: right;
	display: block;
	text-decoration: none;
	font-weight: bold;
	font-size: 20px;
	color: #111111;
}
#ardzon_modal_win img {
	border: 0;
}
#ardzon_modal_win h2, #ardzon_modal_win h2 a {
	font-size: 17px;
	color: #000000;
	background-color: #EEEEEE;
}
#ardzon_modal_win h2 {
	margin: 5px 0 15px 0;
	padding: 3px 0px 3px 7px;
	border-radius: 2px;
}
#ardzon_modal_win h3 {
	color: #555555;
}
#ardzon_modal_win input, #ardzon_modal_win textarea, #ardzon_modal_win select, #ardzon_modal_win iframe {
	font-family: sans-serif;
	font-size: 14px;
	color: #000000;
	background-color: #EEEEEE;
	border: none;
	padding: 2px 4px;
}
#ardzon_modal_win input[type=button], #ardzon_modal_win input[type=submit] {
	padding: 5px 15px;
	border-radius: 3px;
	cursor: pointer;
}
#ardzon_modal_win iframe {
	background-color: #FFFFFF;
	border: 1px solid #000000;
}

/* Toolbar */
.ardzon_toolbar {
	background-color: #EEEEEE;
	box-sizing: border-box;
}
.ardzon_toolbar .ardzon_b_div {
	float: left;
}
.ardzon_toolbar .ardzon_b_div select {
	border: 1px solid #666666;
	font-family: sans-serif;
	font-size: 12px;
	color: #000000;
	background-color: #EEEEEE;
	margin-left: 4px;
}
.ardzon_toolbar .ardzon_b_div a {
	display: block;
	box-sizing: border-box;
	width: 30px;
	height: 30px;
	text-align: center;
	border: 1px solid #EEEEEE;
	background-color: #EEEEEE;
	background-repeat: no-repeat;
}
.ardzon_toolbar .ardzon_b_div a:hover {
	border: 1px solid #FFFFFF;
	background-color: #CCCCCC;
}
.ardzon_toolbar .ardzon_b_divider {
	float: left;
	width: 1px;
	height: 30px;
	border-right: 1px solid #FFFFFF;
	background-color: #757CB2;
}

/* Context menu */
.ardzon_contextmenu {
	background-color: #EEEEEE;
	border: 1px solid #CCCCCC;
	box-shadow: 0 0 10px #DDDDDD;
}
.ardzon_contextmenu_option {
	height: 25px;
}
.ardzon_contextmenu_option:hover {
	background-color: #CCCCCC;
}
.ardzon_contextmenu_option:hover a {
	color: #000000;
}
.ardzon_contextmenu_option .icon {
	float: left;
	box-sizing: border-box;
	text-align: center;
	width: 30px;
	height: 25px;
	background-color: #FFFFFF;
	padding-left: 0;
	background-repeat: no-repeat;
}
.ardzon_contextmenu_option .text {
	text-decoration: none;
	padding: 3px 10px 0 10px;
	font-size: 14px;
	font-family: sans-serif;
	color: #000000;
	height: 25px;
	display: block;
	margin-left: 30px;
	box-sizing: border-box;
}
.ardzon_contextmenu_divider {
	background-color: #CCCCCC;
	height: 1px;
}

.ardzon_editable_iframe {
	display: block;
	box-sizing: border-box;
	border: 1px solid #EEEEEE;
	border-top: none;
}

.ardzon_editable_textarea {
	display: block;
	margin:0;
	box-sizing: border-box;
	resize: vertical;
	border: 1px solid #EEEEEE;
	border-top: none;
	font-size: 14px;
	font-family: sans-serif;
	padding: 3px 5px;
	color: #000000;
}

.ardzon_visual_aid {
	border: 1px dashed #CCCCCC;
}
