/* Don't delete this styles */

body {
	margin: 3px;
}

.ardzon_server_script, .ardzon_js_script {
	display: block;
	margin: 5px 0;
	border-top: 1px dotted #FF0000;
	border-bottom: 1px dotted #FF0000;
	color: #FF0000;
	font-size: 14px;
}
.ardzon_server_script span, .ardzon_js_script span {
	display: none;
}

/* Add your styles below */
